*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}
.content{
    margin-top: -250px;
    position: relative;
    width: 230px;
    height: 230px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}


@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(-370deg);
    }
}
.content span{
    position: absolute;
    width: 100%;
    height: 270px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(370px);
}
.content span img{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
    transition: 1.5s;
}
span:hover
{
    opacity: 0.5;
    height: 200px;
}