*{
    margin: 0;
    padding: 0;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(sky.png);
    background-size:cover ;
    background-position: center;
    position: relative;
    overflow-x: hidden;

}
.highway{
    height: 200px;
    width: 500%;
    background-image: url(road.png);
    position: absolute;
    bottom: 0;
    animation: highway 5s linear infinite;
}
@keyframes highway{
    100%{
        transform: translateX(-3400px);
    }
}
.city{
    height: 250px;
    width: 500%;
    background-image: url(city.png);
    position: absolute;
    bottom: 200px;
    animation: city 20s linear infinite;
}
@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}
img{
    height: 50%;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    z-index: 1;
}